.wrapper {
    width: 100%;
    height: fit-content;

    background-color: var(--bg-black);
}
.wrapper:target {
    scroll-margin-top: 200px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 130rem !important;
    margin: 0 auto !important;
    padding: 0 2.5rem !important;

    font-family: var(--big-font);
    color: var(--color-white);
}
.container > h1 {
    font-size: 4.5rem;
}

.table {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;

    overflow-x: scroll;
}
.loading {
    overflow-x: hidden;
}
.table::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    background: transparent;
}
.table::-webkit-scrollbar-thumb {
    background: var(--color-purple);
}
.row {
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-gap: 2rem;
    gap: 2rem;
    align-items: center;
    padding: 2.5rem 1.5rem;

    background-color: var(--bg-black);

    color: var(--color-white);
    font-size: 2.2rem;
    font-weight: 500;

    height: auto;
    width: 100%;

    text-align: right;

    user-select: none;
    white-space: nowrap;
}
.row:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
}
.row:hover {
    background-color: #200840;
}
.row:first-child {
    padding: 1.5rem;

    background: var(--color-blue-purp);

    border-radius: 8px 8px 0 0;
}
.row:first-child h1 {
    color: var(--color-white);
    font-size: var(--h4-size);
    font-weight: 500;
}
.row > * {
    display: flex;
    align-items: center;
}
.coin {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.coin h1 {
    color: var(--color-white);
    font-size: var(--h4-size);
    font-weight: 500;
    white-space: unset!important;
}
.coin img {
    height: 5rem;
    width: 5rem;
}
.redText {
    color: red !important;
}
.greenText {
    color: var(--green) !important;
}
.change {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.price, .change, .row p {
    margin-left: auto;
}


@media (max-width: 980px) {
    .table::-webkit-scrollbar {
        display: none;
    }
    .row {
        width: 820px;
    }
    .coin {
        width: 200px;
    }
}