.wrapper {
    position: relative;

    background-image: linear-gradient(to top, var(--bg-black) 30%, #130749 70%);

    padding-top: 100px;

    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    scroll-behavior: smooth;
}
.wrapper::-webkit-scrollbar {
    width: 10px;

    background: transparent;
}
.wrapper::-webkit-scrollbar-thumb {
    background: var(--color-purple);
}

.invisibleAnchor {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    pointer-events: none;
    user-select: none;
}

.container {
    max-width: 130rem !important;
    margin: 0 auto !important;
    padding: 0 2.5rem !important;
}